@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    background-color: white;
    font-family: lora, sans-serif;
    font-weight: 300;
    color: black;   
}

a {
    text-decoration: none;
}

section {
    display: block;
}

/* header and headings */

#header {
    position: sticky;
}

h1, h2, h3 {
    letter-spacing: 3px;
    color: #3a3a3a;
}

#mheader {
    float: left;
    font-size: 700%;
    font-weight: 800;
    color: white;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 425px;
    text-align: auto;
    padding-bottom: 50px;
    font-family: roboto, sans-serif;
    position: relative;
}

#mheader, #nav-bar {
    line-height: 50px;
}
/* navigation links */

#nav-bar {
    letter-spacing: 3px;
    font-size: 200%;
    color: white;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border: 2px solid #df1616;
    padding: 3px;
}

.active {
    border: 2px solid #df1616;
    padding: 3px;
}

/* image section */

#poster {
    height: 800px;
}

#main-image {
    height: 100%;
    width: 100%;
    background: url("../images/19687F1C-D354-44FE-8565-756DB80A20DC_1_201_a.jpeg") no-repeat center center;
}

#main-image-text {
    font-size: 140%;
    font-family: roboto, sans-serif;  
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 200px;
    width: 100%;
    bottom: 130px;
    left: 100px;
    text-align: left;
    position: absolute;
}

#main-image-text, #main-image-text h2 {
    font-family: roboto, sans-serif;  
    color: white;
}

/* about us section */

#second-section {
    height: 800px;
    width: 100%;
    position: relative;
}

#left-about {
    height: 100%;
    width: 50%;
    float: left;
    display: inline-block;
}

#right-about {
    height: 100%;
    width: 50%;
    float: right;
}

#left-about h2 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}

#left-about p {
    font-size: 150%;
    text-align: center;
    margin-top: 15%;
    margin: 5% 15%;
}