@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    background-color: rgba(120,120,120,.7);
    font-family: lora, sans-serif;
    font-weight: 300;
    color: black;   
}

a {
    text-decoration: none;
}

section {
    display: block;
}

ul {
    display: list-item;
    list-style-type: circle;
}

/* header and headings */

#nav-header {
    font-size: 110%;
    height: 60px;
    width: 100%;
    background-color: transparent;
    float: left;
    margin: 0 auto;
    text-align: auto;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
}

h1, h2, h3 {
    letter-spacing: 3px;
    color: #3a3a3a;
}



#nav-header, #nav-bar {
    line-height: 50px;
    position: fixed;
}
/* navigation links */

#nav-bar {
    letter-spacing: 3px;
    font-size: 200%;
    color: white;
    overflow: hidden;
    top: 0;
    right: 0;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border: 2px solid #df1616;
    padding: 3px;
}

.active {
    border: 2px solid #df1616;
    padding: 3px;
}

/* image section */

#poster {
    height: 900px;
    width: 100%;
    padding: 0;
}

#main-image {
    height: 100%;
    width: 100%;
    background: url("../images/19687F1C-D354-44FE-8565-756DB80A20DC_1_201_a.jpeg") no-repeat center center;
}

#main-image-text {
    font-size: 140%;
    font-family: roboto, sans-serif;  
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 15%;
    width: 50%;
    bottom: 300px;
    padding-left: 150px;
    position: absolute;
}

#main-image-text, #main-image-text h2, h3 {
    font-family: roboto, sans-serif;  
    color: white;
}

#main-image-text h2 {
    font-size: 500%;
}

/* about us section */

#second-section {
    height: 800px;
    width: 100%;
    color: white;
    position: relative;
}

#center-about {
    height: 30%;
    width: 100%;
}

#left-about {
    height: 70%;
    width: 50%;
    float: left;
    display: inline-block;
}

#right-about {
    height: 70%;
    width: 50%;
    float: right;
}

#center-about h2 {
    font-size: 250%;
    color: white;
    text-align: center;
    margin-top: 1%;
}

#center-about p {
    font-size: 150%;
    font-family: roboto, sans-serif;
    text-align: center;
}

#left-about h3 {
    font-size: 250%;
    color: white;
    text-align: center;
    margin-top: 1%;
}

#left-about li {
    font-size: 150%;
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: 1%;
}